/* Styles for public site rendering (SSR-friendly) */
@import 'variables';

.site-preview {
    min-height: 100vh;
}

.site-header {
    padding: 30px 0 0 0;
    position: relative;
    z-index: 2;
}

.site-main {
    background: #fff;
}

.site-footer {
    margin-top: auto;
}

.widget-container {
    margin-bottom: 1rem;
}

.widget-container:last-child {
    margin-bottom: 0;
}

.site-type--main {
    .site-header {
    }
}

.hero-texts {
    min-height: 240px;
    h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        color: #fff;
        max-width: 50%;
    }
    .text-content {
        display: flex;
        align-items: center;
        margin-top: 28px;
    }
    p {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #fff;
    }
    a {
        border-radius: 10px;
        padding: 19px 35px;
        height: 60px;
        background: $accent-gradient;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #fff;
        margin-right: 30px;
    }
}

.main-menu ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: $dark-color;
}

.btn-outline-primary {
    @include button-base;
    @include button-outline;
    &:hover {
        background: $accent-gradient;
        color: #fff;
    }
}

.page-type--home {
    .main-menu ul li a {
        color: #fff;
    }
    .main-menu ul li a:hover {
        color: $dark-color;
    }
    .site-header .btn-outline-primary {
        color: #fff;
    }
    .image-output__caption {
        color: #fff;
    }
}
