.project-show__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #1a1a1a;
}

.project-show__org-info {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #1a1a1a;
}

.project-show__cta {
    background: linear-gradient(84deg, #96bdff 0%, #3259ff 100%);
}


